{% macro comments(article) %}
<div id="intense"></div>
       <script type="text/javascript">
          var idcomments_acct = 'a9caf2a73f0584fce57ce54adee072f2';
          var idcomments_post_id;
          var idcomments_post_url;
        </script>
      <span id="IDCommentsPostTitle" style="display:none"></span>
      <script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
    {% if DISQUS_SITENAME and SITEURL and article.status != 'draft' %}
<section>
{% if article.comments_intro %}
<p id="comment-message">{{ article.comments_intro }} </p>
{% else %}
    {% from '_includes/_defaults.html' import COMMENTS_INTRO with context %}
    {%if COMMENTS_INTRO %}
<p id="comment-message">{{ COMMENTS_INTRO }} </p>
    {% endif %}
{% endif %}
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle disqus-comment-count" data-toggle="collapse" data-parent="#accordion2"
                {% if article.disqus_identifier %}
                    data-disqus-identifier="{{ article.disqus_identifier }}"
                {% endif %}
                href="{{ SITEURL }}/{{ article.url }}#disqus_thread">
                Comments
            </a>
        </div>
        <div id="disqus_thread" class="accordion-body collapse">
            <div class="accordion-inner">
                <div class="comments">
                    {% from '_includes/disqus_scripts.html' import disqus_comments_script with context %}
                    {{ disqus_comments_script(article) }}
                </div>
            </div>
        </div>
    </div>
</div>
</section>
    {% endif %}
{% endmacro %}

{% macro comments_script(article) %}
    {% if DISQUS_SITENAME and SITEURL and article.status != 'draft' %}
        {% from '_includes/disqus_scripts.html' import disqus_misc_scripts with context %}
        {{ disqus_misc_scripts() }}
    {% endif %}
{% endmacro %}

